{extend name="public/base" /}

{block name="body"}
<script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>
<div class="main-title">
    <h2>{:isset($info['id'])?'编辑':'新增'}问卷问题</h2>
</div>
<div class="tab-wrap">
    <div class="tab-content">
        <form action="{:url()}" method="post" class="form-horizontal">
            <!-- 内容 -->
            <div id="tab1" class="tab-pane in tab1">

                <div class="form-item">
                    <label class="item-label">
                        问题名称<span class="check-tips">（不能为空）</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="title" class="text input-large" value="{$info.title|default=''}">
                    </div>
                </div>

                <div class="form-item">
                    <div class="controls">
                        <label class="item-label">
                            问题类型：
                        </label>
                        <select name="type">
                            <option value="1" {eq name="info['unit']" value="1"}selected{/eq}>单选</option>
                            <option value="2" {eq name="info['unit']" value="2"}selected{/eq}>多选</option>
                            <option value="3" {eq name="info['unit']" value="3"}selected{/eq}>文本</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="form-item">
                <input type="hidden" name="id" value="{$info.id|default=''}">
                <input type="hidden" name="qid" value="{$qid}">
                <button type="submit" id="submit" class="btn submit-btn ajax-poss" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>

        </form>
    </div>
</div>
{/block}

{block name="script"}
<link href="__PUBLIC__/static/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
{php}if(config('COLOR_STYLE')=='blue_color') echo '<link href="__PUBLIC__/static/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';{/php}
<link href="__PUBLIC__/static/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

    $('#submit').click(function(){
        $('#form').submit();
    });

    $(function(){
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            language:"zh-CN",
            minView:2,
            autoclose:true
        });
    });
</script>
{/block}